@page "/"
@using static Microsoft.AspNetCore.Components.Web.RenderMode
@rendermode InteractiveServer

<EditForm title="Create Project" Model="projectCreate">
    <input @bind-value=projectCreate.Name />
    <input type="date" @bind-value=@projectCreate.DueDate />
    <button @onclick="async () => await CreateProjectAsync()">Create Project</button>
    <h1>@TextProject</h1>
</EditForm>

<button @onclick="async () => await CreateProjectTeamAsync()">Create Team</button>
<h1>@TextProjectTeam</h1>